* {
  box-sizing: border-box;
}

body {
  background-color: powderblue;
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-image: url("../images/crema-hand-md.png");
  height: 800px;
  background-repeat: no-repeat;  
  background-position: center;
  background-size: contain;
}

.blood-pressure-monitor {
  width: 80%;
  max-width: 500px;
  margin-top: 15%;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 10px solid #e6e6e6;
  padding: 35px 45px 0px 20px;
  background-color: white;
}

.dot-collection {
  margin: auto;
  display: inline-block;
  width: 15%;
}

.systolic-and-diastolic {
  border-radius: 25px;
  background-color: #bce3ff;
  transform: translate(5%, -18%);
  display: inline-block;
  border: 7px solid #4f6d9a;
  padding-left: 35px;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .blood-pressure-monitor {
    width: 95%;
  }

  .dot-collection {
    width: 23%;
  }

  .systolic-and-diastolic {
    width: 75%;
  }
}

.pressure-title {
  padding: 5px;
}

.input {
  width: 50%;
  padding: 12px;
  border-radius: 6px;
  margin: 2px;
}

.light-blue{
  background-color: #6ccdec;
}

.blue {
  background-color: #217fe2;
}

.dark-blue {
  background-color: #0d0db7;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  display: block;
  margin-bottom: 33px;
}

.systolic {
  // background-color: LightCoral;
  height: 100px;
  // border: 4px solid #716d6d;
  // border-top-left-radius: 25px;
  // border-top-right-radius: 25px;
  // border-bottom: 3px solid #716d6d;;
}

.diastolic {
  // background-color: LightBlue;
  height: 100px;
  // border: 4px solid #716d6d;
  // border-bottom-left-radius: 25px;
  // border-bottom-right-radius: 25px;
  // border-top: none;
}

.blood-pressure-result {
  background-color: Green;
  height: 100px;
}

.blood-pressure-number {
  height: 50px;
}

.submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
}

img#hand {
  height: 1500px;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1200;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
svg {
  margin: 0 -1rem;
}

.ekg {
  opacity: 1;
  stroke-dasharray: 600;
  animation: dash 1.5s linear forwards infinite,fade 1.5s linear infinite;
}