body {
  background-color: powderblue;
}

.blood-pressure-monitor {
  width: 30%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  border-radius: 25px;
  border: 2px solid #ababab;
  padding: 20px;
  background-color: white;
}

.systolic-and-diastolic {
  border-radius: 25px;
  border: 2px solid #716d6d;
  padding: 20px;
  background-color: white;
  width: 60%;
  transform: translate(20%, 0);
  display: inline-block;
}

.dot-collection {
  margin: auto;
  display: inline-block;
}

.light-blue{
  background-color: #6ccdec;
}

.blue {
  background-color: #217fe2;
}

.dark-blue {
  background-color: #0d0db7;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  display: block;
  margin-bottom: 50px;
}

.systolic {
  background-color: LightCoral;
  height: 100px;
}

.diastolic {
  background-color: LightBlue;
  height: 100px;
}

.blood-pressure-result {
  background-color: Green;
  height: 100px;
}

.blood-pressure-number {
  height: 50px;
}

img#hand {
  transform: rotate(-90deg) translate(-35%, 55%);
  height: 300px;
}
